<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1A</key>
	<string>THIS ASD ASD ASDASD ASD ASD ASD ASD ASD ASD ASD ASD AD </string>
	<key>1B</key>
	<string>Ride out with me. Ride out and meet them. For death and glory? For Rohan, for your people. Yes. YES! The hi</string>
	<key>2A</key>
	<string>The Horn of Helm Hammerhand shall sound in the deep, one last time.</string>
	<key>2B</key>
	<string>Let this be the hour when we draw swords together. Fell deeds awake. Now for wrath. Now for ruin. And the red dawn! Forth Eorlingas</string>
	<key>3A</key>
	<string></string>
	<key>3B</key>
	<string></string>
</dict>
</plist>
