<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1A</key>
	<string>Strings were first made of sheep gut (commonly known as catgut), or simply gut, which was stretched, dried, and contorted. In the early years of the 20th century, strings were made of either gut, silk, aluminum, or steel. Modern strings may be gut, solid steel, stranded steel, or various fabricated materials, wound with various metals, and sometimes plated with silver. Most E strings are unwound, either plain or gold-plated steel. Currently, violin strings are not made with gut as much, but many performers use them to achieve a specific sound especially in historically informed spectacle.</string>
	<key>1B</key>
	<string>Strings were first made of sheep gut (commonly known as catgut), or simply gut, which was stretched, dried, and twisted. In the early years of the 20th century, strings were made of either gut, silk, aluminum, or steel. Modern strings may be gut, solid steel, stranded steel, or various synthetic materials, wound with various metals, and sometimes plated with silver. Most E strings are unwound, either plain or gold-plated steel. Currently, violin strings are not made with gut as much, but many performers use them to achieve a specific sound especially in historically informed performance.</string>
	<key>2A</key>
	<string>The man who refuses to judge, who neither agrees nor disagrees, who declares that there are no absolutes and believes that he escapes liability, is the man responsible for all the blood that is now spilled in the world. Reality is an absolute, subsistence is an absolute, a speck of dust is an absolute and so is a human life. Whether you live or die is an absolute. Whether you have a piece of bread or not, is an absolute. Whether you eat your bread or see it evanesce into a looter’s stomach, is an absolute.</string>
	<key>2B</key>
	<string>The man who refuses to judge, who neither agrees nor disagrees, who declares that there are no absolutes and believes that he escapes responsibility, is the man responsible for all the blood that is now spilled in the world. Reality is an absolute, existence is an absolute, a speck of dust is an absolute and so is a human life. Whether you live or die is an absolute. Whether you have a piece of bread or not, is an absolute. Whether you eat your bread or see it vanish into a looter’s stomach, is an absolute.</string>
	<key>3A</key>
	<string>In the beginning, keyboard keytops had a &quot;dish shape&quot; on top, like typewriters before them. Keyboard key legends must be extremely perdurable over tens of millions of depressions, since they are subjected to extreme mechanical deterioration from fingers and fingernails, and subject to hand oils and creams, so engraving and filling key legends with paint, as was done previously for individual switches, was never acceptable. So, for the first electronic keyboards, the key legends were manufactured by two-shot (or double-shot, or two-color) molding.</string>
	<key>3B</key>
	<string>In the beginning, keyboard keytops had a &quot;dish shape&quot; on top, like typewriters before them. Keyboard key legends must be extremely durable over tens of millions of depressions, since they are subjected to extreme mechanical wear from fingers and fingernails, and subject to hand oils and creams, so engraving and filling key legends with paint, as was done previously for individual switches, was never acceptable. So, for the first electronic keyboards, the key legends were produced by two-shot (or double-shot, or two-color) molding.</string>
	<key>4A</key>
	<string>O, never shall sun that morrow see! Your face, my thane, is as a book where men may read singular matters. To beguile the time, look like the time. Bear welcome in your eye, your hand, your tongue. Look like th&apos; innocent flower, but be the serpent under &apos;t. He that&apos;s coming must be provided for; and you shall put this night’s great enterprise into my dispatch, which shall to all our nights and days to come give solely sovereign dominion and masterdom.</string>
	<key>4B</key>
	<string>O, never shall sun that morrow see! Your face, my thane, is as a book where men may read strange matters. To beguile the time, look like the time. Bear welcome in your eye, your hand, your tongue. Look like th&apos; innocent flower, but be the serpent under &apos;t. He that&apos;s coming must be provided for; and you shall put this night’s great business into my dispatch, which shall to all our nights and days to come give solely sovereign sway and masterdom.</string>
</dict>
</plist>
