<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1A</key>
	<string>Before warming the milk, the babysitter took the infant&apos;s diaper out of the travel bag. Everything was quiet, and neither Jim nor Catherine protested as the babysitter took charge of the baby. As if startled, Jim remembered the rest of the dishes on the table. Ignoring the look on Catherine&apos;s face, he scraped the cold food from his dinner spoon before washing it. To his left, Catherine&apos;s expression grew more and more pained, but the attack came before she could cry out. The cup slipped out of Jim&apos;s hand and hit the dryer when his wife fainted.</string>
	<key>1B</key>
	<string>Before warming the milk, the babysitter took the infant&apos;s bottle out of the travel bag. Everything was quiet, and neither Jim nor Catherine protested as the babysitter took charge of the baby. As if startled, Jim remembered the rest of the dishes on the table. Ignoring the look on Catherine&apos;s face, he scraped the cold food from his dinner plate before washing it. To his left, Catherine&apos;s expression grew more and more pained, but the attack came before she could cry out. The cup slipped out of Jim&apos;s hand and hit the floor when his wife fainted.</string>
	<key>2A</key>
	<string>The class began chattering as soon as the new teacher left the room, as schoolchildren are wont to do. &quot;We watched the opening night performace at the circus last night,&quot; came one stage whisper, and immediately many heads turned to find its source. The children did not know what to make of the rumors surrounding the new teacher. Silence fell as she walked back in, frowning. Without further ado, she announced she would be reading a short diary to end the day. She read of newlyweds who, wanting children, moved into their first igloo and were excited.</string>
	<key>2B</key>
	<string>The class began chattering as soon as the new teacher left the room, as schoolchildren are wont to do. &quot;We watched the opening night performace at the theatre last night,&quot; came one stage whisper, and immediately many heads turned to find its source. The children did not know what to make of the rumors surrounding the new teacher. Silence fell as she walked back in, frowning. Without further ado, she announced she would be reading a short story to end the day. She read of newlyweds who, wanting children, moved into their first house and were excited.</string>
	<key>3A</key>
	<string>She wanted the painting to look absolutely perfect. Like a hawk, Faye paced back and forth as the carpenter tried to bevel the new joists. When she had to leave for lunch, she did so unwillingly, reluctant to leave something so valuable in a workman&apos;s grubby hands. Faye practically raced past the swap on her way back from lunch, mind racing from one potential catastrophe to the next. To her utmost relief, no such catastrophe was in sight when she returned, and indeed, the unusual slant of the frame complemented the painting.</string>
	<key>3B</key>
	<string>She wanted the painting to look absolutely perfect. Like a hawk, Faye paced back and forth as the carpenter tried to slant the new joists. When she had to leave for lunch, she did so unwillingly, reluctant to leave something so valuable in a workman&apos;s grubby hands. Faye practically raced past the plaza on her way back from lunch, mind racing from one potential catastrophe to the next. To her utmost relief, no such catastrophe was in sight when she returned, and indeed, the unusual bevel of the frame complemented the painting.</string>
	<key>4A</key>
	<string>It was never going to be easy, he reflected. No part of this whole ordeal was easy, but he had not seen it coming. The camera crew had finished filming the diver only after twelve grueling hours, and they were coming back tomorrow. Until then, Harry was alone in the house, alone with his thoughts and his repairs. Fred had promised to refinish the hardwood shelf before he had left for the war. It wasn&apos;t like him to have let it slip his mind. But then again, Fred had also mailed his mother a compass from China; the boy had made no sense.</string>
	<key>4B</key>
	<string>It was never going to be easy, he reflected. No part of this whole ordeal was easy, but he had not seen it coming. The camera crew had finished filming the movie only after twelve grueling hours, and they were coming back tomorrow. Until then, Harry was alone in the house, alone with his thoughts and his repairs. Fred had promised to refinish the hardwood floor before he had left for the war. It wasn&apos;t like him to have let it slip his mind. But then again, Fred had also mailed his mother a letter from China; the boy had made no sense.</string>
</dict>
</plist>
