<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1A</key>
	<string>The sun had set in the sky by the time the children finished up their chores. True to her word, the new arrival was finally prepared to share her story. The children all took their seats around the fire, and listened. One boy told the story cried. It was a long tale, told in starts and bursts, with names and places that were unfamiliar to all the children, but not to me. Jill told me a white lie will come back to haunt me. I winced as the girl&apos;s story reached its conclusion, finally explaining why she had brought the story to us: the tycoon sold the offshore oil tracts wanted to kill JR.</string>
	<key>1B</key>
	<string>The sun had set in the sky by the time the children finished up their chores. True to her word, the new arrival was finally prepared to share her story. The children all took their seats around the fire, and listened. One boy who was told the story cried. It was a long tale, told in starts and bursts, with names and places that were unfamiliar to all the children, but not to me. Jill had told me a white lie will come back to haunt me. I winced as the girl&apos;s story reached its conclusion, finally explaining why she had brought the story to us: the tycoon who was sold the offshore oil tracts wanted to kill JR.</string>
	<key>2A</key>
	<string>A burst of wind, and the train pulled up next to the platform. Anxiously tapping his foot, Tom willed the would-be passengers to hurry up from behind his newspaper. The headlines flickered past as he pretended to read: &quot;British left waffles on Falklands,&quot; the front page proclaimed. He tried to swallow his panic and project complete and utter normalcy. He knew that the boat was waiting, and that the old man the boat. Making it to the boat undetected was the only thing he had to accomplish. In a blur of headlines, he got on the next train, &quot;Stolen painting found by tree&quot; obscuring his face.</string>
	<key>2B</key>
	<string>A burst of wind, and the train pulled up next to the platform. Anxiously tapping his foot, Tom willed the would-be passengers to hurry up from behind his newspaper. The headlines flickered past as he pretended to read: &quot;British Left waffles on Falklands,&quot; the front page proclaimed. He tried to swallow his panic and project complete and utter normalcy. He knew that the boat was waiting, and that the old people man the boat. Making it to the boat undetected was the only thing he had to accomplish. In a blur of headlines, he got on the next train, &quot;Stolen painting found next to tree&quot; obscuring his face.</string>
	<key>3A</key>
	<string>I can remember every moment we spent together. I remember watching Mary give the child my dog bit a bandaid, and falling in love with her right then and there. Unfortunately, I don&apos;t think it was as instantaneous for her. See, the dog I had really loved bones. He wasn&apos;t going to be happy  until I gave him one, and Mary did not approve of his barking. That&apos;s not my favorite memory of her, though; that would be when we moved in together. We painted the wall with cracks. Blue and yellow, her favorite combination.</string>
	<key>3B</key>
	<string>I can remember every moment we spent together. I remember watching Mary give the child that my dog bit a bandaid, and falling in love with her right then and there. Unfortunately, I don&apos;t think it was as instantaneous for her. See, the dog I had as a pet really loved bones. He wasn&apos;t going to be happy  until I gave him one, and Mary did not approve of his barking. That&apos;s not my favorite memory of her, though; that would be when we moved in together. We painted the wall that had cracks. Blue and yellow, her favorite combination.</string>
	<key>4A</key>
	<string>The principal was clearly out of sorts as he walked down the hallway, that much they could see through the cracked open door. &quot;Have the students who failed the exam take the supplementary,&quot; he snapped, glowering. The children in the classroom shrank away from the door. Behind another open door, an oblivious voice droned on: &quot;The cotton clothing is made of grows in Mississippi... &quot; The principal&apos;s face contorted in derision. He caught sight of the children through the door, and scowled. &quot;The prime number few,&quot; he muttered inscrutably, and marched away.</string>
	<key>4B</key>
	<string>The principal was clearly out of sorts as he walked down the hallway, that much they could see through the cracked open door. &quot;Please have the students who failed the exam take the supplementary,&quot; he snapped, glowering. The children in the classroom shrank away from the door. Behind another open door, an oblivious voice droned on: &quot;The cotton that clothing is made of grows in Mississippi... &quot; The principal&apos;s face contorted in derision. He caught sight of the children through the door, and scowled. &quot;The prime people number few,&quot; he muttered inscrutably, and marched away.</string>
</dict>
</plist>
